<!DOCTYPE html>
<html lang="ja" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>シンプルコードブレイカー</title>
    <link rel="stylesheet" href="css/style.css">
  </head>
  <body>
    <h1>シンプルコードブレイカー</h1>
    <div id="app">
      <div class="flex-master">
        <div class="flex-slave">
          <input type="button" v-if="game" value="ゲームリセット" @click="gameStart"><input type="button" v-else value="ゲームスタート" @click="gameStart"> 現在の試行回数: {{ count }}
          <template v-if="game">
            <form name="main" @submit.prevent="checkCode">
              <table>
                <tr><td class="button" @click="nextNum(0)"><span>{{ ans[0] }}</span></td><td class="button" @click="nextNum(1)">{{ ans[1] }}</td><td class="button" @click="nextNum(2)">{{ ans[2] }}</td><td class="hit">{{ H123 }}</td><td class="blow">{{ B123 }}</td></tr>
                <tr><td class="button" @click="nextNum(3)">{{ ans[3] }}</td><td class="button" @click="nextNum(4)">{{ ans[4] }}</td><td class="button" @click="nextNum(5)">{{ ans[5] }}</td><td class="hit">{{ H456 }}</td><td class="blow">{{ B456 }}</td></tr>
                <tr><td class="button" @click="nextNum(6)">{{ ans[6] }}</td><td class="button" @click="nextNum(7)">{{ ans[7] }}</td><td class="button" @click="nextNum(8)">{{ ans[8] }}</td><td class="hit">{{ H789 }}</td><td class="blow">{{ B789 }}</td></tr>
                <tr><td class="hit">{{ H147 }}</td><td class="hit">{{ H258 }}</td><td class="hit">{{ H369 }}</td><th>H</th><th>B</th></tr>
                <tr><td class="blow">{{ B147 }}</td><td class="blow">{{ B258 }}</td><td class="blow">{{ B369 }}</td><th>B</th><th>*</th></tr>
              </table>
              <input v-if="game" type="submit" value="判定">
            </form>
          </template>
        </div>
        <div class="flsx-slave">
          <h2>試行ログ</h2>
          <ul>
            <li v-for="log in logs" class="log">{{ log }}</li>
          </ul>
        </div>
      </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14"></script>
    <script src="js/main.js"></script>
  </body>
</html>
